<div class="max-w-2xl mx-auto p-4">
  <h1 class="text-2xl font-semibold text-gray-900 mb-6">
    Realizar Nueva Reserva
  </h1>

  <form [formGroup]="reservationForm" (ngSubmit)="onSubmit()" class="space-y-6">
    <div>
      <label
        for="reservationDate"
        class="block text-sm font-medium text-gray-700"
        >Fecha de Reserva</label
      >
      <input
        id="reservationDate"
        formControlName="reservationDate"
        type="datetime-local"
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-1 focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
      />
    </div>

    <div>
      <label for="userEmail" class="block text-sm font-medium text-gray-700"
        >Usuario</label
      >
      <input
        id="userEmail"
        formControlName="userEmail"
        placeholder="Email del usuario"
        type="email"
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-1 focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
      />
    </div>

    <!-- Lista de Habitaciones -->
    <div class="mb-6">
      <label for="rooms" class="block text-sm font-medium text-gray-700"
        >Habitaciones</label
      >
      <div class="mt-2 flex items-center space-x-4">
        <input
          type="text"
          formControlName="newRoom"
          placeholder="Añadir habitación"
          class="py-2 px-4 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
        />
        <button
          type="button"
          (click)="addRoom()"
          class="py-2 px-4 text-sm font-medium text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 rounded-md"
        >
          Agregar
        </button>
      </div>
      <ul class="mt-2 space-y-2">
        @for (room of reservationForm.get('roomIds')?.value; track room) {
        <li
          class="flex items-center justify-between py-2 px-4 bg-gray-100 rounded-md"
        >
          <span>{{ room }}</span>
          <button
            type="button"
            (click)="removeRoom($index)"
            class="text-sm font-medium text-red-600 hover:text-red-800"
          >
            Eliminar
          </button>
        </li>
        }
      </ul>
    </div>

    <footer class="flex justify-end space-x-4">
      <button
        type="button"
        (click)="cancelCreation()"
        class="py-2 px-4 border border-transparent rounded-md text-sm font-medium text-gray-700 bg-gray-100 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-300"
      >
        Cancelar
      </button>
      <button
        type="submit"
        class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-blue-500 hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
      >
        Crear Reserva
      </button>
    </footer>
  </form>
</div>
